@page
@model Ecommerce.Pages.Devoluciones.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CatDevolucionesPedido</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatDevolucionesPedido.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatDevolucionesPedido.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatDevolucionesPedido.MdUuid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatDevolucionesPedido.MdUuid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatDevolucionesPedido.MdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatDevolucionesPedido.MdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatDevolucionesPedido.DescDevolucion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatDevolucionesPedido.DescDevolucion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CatDevolucionesPedido.CodDevolucion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
